Ejercicio2/WindowsFormsApplication11/WindowsFormsApplication11/Service References/ServiceReference1/WebService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Alumno">
        <s:complexType />
      </s:element>
      <s:element name="AlumnoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AlumnoResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AgregarAlumno">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nombre" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="paterno" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="materno" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="telefono" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AgregarAlumnoResponse">
        <s:complexType />
      </s:element>
      <s:element name="EliminarAlumno">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idAlumno" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EliminarAlumnoResponse">
        <s:complexType />
      </s:element>
      <s:element name="CambiarAlumno">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idAlumno" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="nombre" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="paterno" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="materno" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="telefono" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CambiarAlumnoResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="AlumnoSoapIn">
    <wsdl:part name="parameters" element="tns:Alumno" />
  </wsdl:message>
  <wsdl:message name="AlumnoSoapOut">
    <wsdl:part name="parameters" element="tns:AlumnoResponse" />
  </wsdl:message>
  <wsdl:message name="AgregarAlumnoSoapIn">
    <wsdl:part name="parameters" element="tns:AgregarAlumno" />
  </wsdl:message>
  <wsdl:message name="AgregarAlumnoSoapOut">
    <wsdl:part name="parameters" element="tns:AgregarAlumnoResponse" />
  </wsdl:message>
  <wsdl:message name="EliminarAlumnoSoapIn">
    <wsdl:part name="parameters" element="tns:EliminarAlumno" />
  </wsdl:message>
  <wsdl:message name="EliminarAlumnoSoapOut">
    <wsdl:part name="parameters" element="tns:EliminarAlumnoResponse" />
  </wsdl:message>
  <wsdl:message name="CambiarAlumnoSoapIn">
    <wsdl:part name="parameters" element="tns:CambiarAlumno" />
  </wsdl:message>
  <wsdl:message name="CambiarAlumnoSoapOut">
    <wsdl:part name="parameters" element="tns:CambiarAlumnoResponse" />
  </wsdl:message>
  <wsdl:portType name="WebService1Soap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Alumno">
      <wsdl:input message="tns:AlumnoSoapIn" />
      <wsdl:output message="tns:AlumnoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AgregarAlumno">
      <wsdl:input message="tns:AgregarAlumnoSoapIn" />
      <wsdl:output message="tns:AgregarAlumnoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EliminarAlumno">
      <wsdl:input message="tns:EliminarAlumnoSoapIn" />
      <wsdl:output message="tns:EliminarAlumnoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CambiarAlumno">
      <wsdl:input message="tns:CambiarAlumnoSoapIn" />
      <wsdl:output message="tns:CambiarAlumnoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebService1Soap" type="tns:WebService1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Alumno">
      <soap:operation soapAction="http://tempuri.org/Alumno" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AgregarAlumno">
      <soap:operation soapAction="http://tempuri.org/AgregarAlumno" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarAlumno">
      <soap:operation soapAction="http://tempuri.org/EliminarAlumno" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CambiarAlumno">
      <soap:operation soapAction="http://tempuri.org/CambiarAlumno" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebService1Soap12" type="tns:WebService1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Alumno">
      <soap12:operation soapAction="http://tempuri.org/Alumno" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AgregarAlumno">
      <soap12:operation soapAction="http://tempuri.org/AgregarAlumno" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarAlumno">
      <soap12:operation soapAction="http://tempuri.org/EliminarAlumno" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CambiarAlumno">
      <soap12:operation soapAction="http://tempuri.org/CambiarAlumno" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService1">
    <wsdl:port name="WebService1Soap" binding="tns:WebService1Soap">
      <soap:address location="https://localhost:44337/WebService1.asmx" />
    </wsdl:port>
    <wsdl:port name="WebService1Soap12" binding="tns:WebService1Soap12">
      <soap12:address location="https://localhost:44337/WebService1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>